<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <label for='lastname'>Nom</label>
    <input type="text" formControlName="lastname" name="lastname" />
    <label for='firstname'>Prénom</label>
    <input type="text" formControlName="firstname" name="firstname" />
    <div formGroupName="adress">
        <label for='num'>Numéro</label>
        <input type="text" formControlName="num" name="num" />
        <label for='street'>Rue</label>
        <input type="text" formControlName="street" name="street" />
        <label for='city'>Ville</label>
        <input type="text" formControlName="city" name="city" />
    </div>

    <button type="submit">Envoyer</button>
</form>